@media(max-width:992px) {
  .digital-header-section {
    .container {
      .digital-header-container {
        position: relative;

        .digital-header-logo {
          a {}
        }

        .header-navigation-wrapper {
          flex-direction: column;
          position: fixed;
          right: -100%;
          top: 0;
          height: 100%;
          width: 70%;
          gap: 30px;
          background-color: rgba(167, 155, 155, 0.589);
          backdrop-filter: blur(10px);
          gap: 50px;
          transition: all .6s ease;
          opacity: 0;
          padding-top: 160px;
          justify-content: unset;
          z-index: 3;

          &.show {
            right: 0;
            opacity: 1;
          }

          .header-navigation-list {
            flex-direction: column;
            align-items: start;
            gap: 50px;
            align-items: center;

            .header-nav-item {
              a {}
            }
          }

          .header-cta-button-wrapper {
            .input-label {
              input {}

              svg {}
            }

            .cta-btn {
              span {}

              .arrow-svg {
                svg {
                  path {}
                }
              }
            }
          }
        }

        .header-hamburger-menu {
          display: flex;
          position: absolute;
          top: 18px;
          right: 20px;

          span {
            color: black;
          }
        }
      }
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.24);
      z-index: 0;
      backdrop-filter: blur(4px);
      visibility: hidden;
      opacity: 0;
      transition:
        opacity 0.6s ease,
        visibility 0.6s ease;
      z-index: 2;
    }

    .overlay.active {
      visibility: visible;
      opacity: 1;
    }
  }

  /* START :: Hero Section 
  ****************************** */
  .digital-hero-section {
    .container {
      .digital-hero-container {
        padding-left: 0;
        padding: 60px 0 70px 0;

        &::before {
          background: linear-gradient(92.89deg, rgba(15, 99, 220, 0.9) 13.51%, rgba(15, 99, 220, 0) 100.52%);
        }

        .digital-hero-container-content {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: 0 auto;

          .service-status-label {
            .statu-label-icon {
              svg {}
            }

            span {
              font-size: 16px;
              line-height: 20px;
            }
          }

          .digital-hero-container-head {
            text-align: center;
            margin: 0 auto;
            font-size: clamp(40px, 5vw + 1rem, 60px);
            line-height: clamp(40px, 5vw + 1rem, 65px);
          }

          .hero-container-desc {
            text-align: center;
            font-size: 23px;
            line-height: 33px;
            max-width: 70%;
          }

          /* .cta-buttons {
            .cta-btn {
              span {
                font-size: 16px;
                line-height: 20px;
              }

              .arrow-svg {
                padding: 4px;

                svg {
                  width: 18px;
                  height: 18px;

                  path {}
                }
              }
            }
          } */
          .social-proof-wrapper {
            .social-users-images {
              img {}
            }

            .social-users-trust-stack {
              .users-counter {}

              .social-users-label {}
            }
          }

          .social-ranking-badge-wrapper {
            text-align: center;
            padding-top: 33px;

            .social-ranking-badge {
              svg {
                g {
                  path {}
                }

                defs {
                  linearGradient {
                    stop {}
                  }

                  clipPath {
                    rect {}
                  }
                }
              }
            }

            .social-ranking-label {
              span {}
            }
          }

          .swiper-wrapper {}

          .swiper-pagination {}
        }
      }
    }
  }

  /* END :: Hero Section 
********************************** */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* START :: Repair Section 
********************************** */
  .repair-section {
    .container {
      .repair-container {
        .title-label {
          &::before {}
        }

        .section-title {}

        .section-desc {
          width: 75%;
        }

        .repair-cards-container {
          grid-template-columns: repeat(2, 1fr);

          .repair-card {
            .card-image-wrapper {
              .repair-card-header {
                .card-label {}
              }

              .repair-card-image {
                img {}
              }

              >svg {}
            }

            .card-title {}

            .cta-btn {
              span {}

              .arrow-svg {
                svg {}
              }
            }
          }
        }
      }
    }
  }

  /* END :: Repair Section 
********************************** */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* START :: Services Section 
********************************** */
  .services-section {
    .container {
      .services-container {
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .services-image {
          img {}
        }

        .services-content {
          align-items: center;

          .title-label {}

          .section-title {}

          .service-detail-wrapper {
            .services-detail {
              width: 90%;
              margin: 0 auto;
              font-size: 20px;
              line-height: 30px;
              text-align: center;
            }
          }

          .cta-buttons {
            .cta-btn {
              &.blue {}

              &.black {}

              span {}

              .arrow-svg {
                svg {
                  path {}
                }
              }
            }
          }
        }
      }
    }
  }

  /* END :: Services Section 
********************************** */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* START :: Trust  Section 
********************************** */
  .trust-section {
    .container {
      .trust-container {
        .title-label {}

        .section-title {}

        .section-desc {}

        .company-trust-cards-wrapper {
          .trust-card {
            .trust-card-content {
              h4 {
                font-size: 24px;
                line-height: 36px;
              }

              .trust-card-desc {
                font-size: 16px;
                line-height: 24px;
              }

              .cta-btn {
                &.blue {}

                span {}

                .arrow-svg {
                  svg {
                    path {}
                  }
                }
              }
            }

            .trust-card-image {
              img {}
            }
          }
        }
      }
    }
  }

  /* END :: Trust  Section 
********************************** */
}

/* ###########################  */
/* ###########################  */
/* ###########################  */
/* ###########################  */
/* Media Query :: 768px
------------------------------------- */
@media(max-width:768px) {
  .partners-section {
    margin: 73px 0 80px;

    .partners-container {
      .partner-container-head {
        padding: 22px 0 32px;
      }

      .partners-logos-containers {
        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              height: 65px;
              width: 130px;

              .logo-image {
                width: 75px;

                img {}
              }
            }
          }

          &:nth-child(2) {
            .partner-logo-list {
              .partner-logo-item {
                height: 65px;
                width: 130px;

                .logo-image {
                  width: 75px;

                  img {}
                }
              }
            }
          }
        }
      }
    }
  }

  /* END :: Partner Section 
********************************** */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* START :: Trust Section 
********************************** */
  .trust-section {
    .container {
      .trust-container {
        padding: 40px 20px;

        .title-label {}

        .section-title {
          width: 80%;
          padding: 10px 0 8px;
        }

        .section-desc {
          width: 90%;
          padding-bottom: 20px;
        }

        .company-trust-cards-wrapper {
          flex-direction: column;
          gap: 40px;

          .trust-card {
            width: 100%;

            .trust-card-content {
              h4 {}

              .trust-card-desc {}

              .cta-btn {
                &.blue {}

                span {}

                .arrow-svg {
                  svg {
                    path {}
                  }
                }
              }
            }

            .trust-card-image {
              img {}
            }
          }
        }
      }
    }
  }

  /* END :: Trust Section 
********************************** */
}

@media(max-width:576px) {
  .digital-header-section {
    .container {
      .digital-header-container {
        .digital-header-logo {
          font-size: 34px;
          line-height: 44px;

          a {}
        }

        .header-navigation-wrapper {
          .header-navigation-list {
            gap: 36px;

            .header-nav-item {
              a {}
            }
          }

          .header-cta-button-wrapper {
            .input-label {
              input {}

              svg {}
            }

            .cta-btn {
              span {}

              .arrow-svg {
                svg {
                  path {}
                }
              }
            }
          }

          &.header-navigation-wrapper.show {}
        }

        .header-hamburger-menu {
          width: 25px;
          height: 17px;
          right: 6px;
          top: 14px;

          span {}
        }

        .header-hamburger-menu.active .bar3 {
          transform: translateY(-5.5px) rotate(-45deg);
        }
      }
    }

    .overlay {}

    .overlay.active {}
  }

  /* START :: Hero Section 
  ****************************** */
  .digital-hero-section {
    .container {
      .digital-hero-container {
        border-radius: 20px;
        padding: 47px 0 48px 0;

        .digital-hero-container-content {
          .service-status-label {
            padding: 2px;

            .statu-label-icon {
              padding: 4px;

              svg {
                width: 16px;
                height: 16px;
              }
            }

            span {
              font-size: 12px;
              line-height: 14px;
            }
          }

          .digital-hero-container-head {
            font-size: clamp(30px, 3vw + 1rem, 38px);
            line-height: clamp(38px, 3vw + 1rem, 48px);
            max-width: 75%;
            padding: 26px 0 12px;
          }

          .hero-container-desc {
            max-width: 72%;
            font-size: 16px;
            line-height: 20px;
          }

          .cta-buttons {
            padding: 31px 0 40px;
            /* flex-direction: column; */
          }

          .social-proof-wrapper {
            .social-users-images {
              img {}
            }

            .social-users-trust-stack {
              .users-counter {
                font-size: 20px;
                line-height: 26px;
              }

              .social-users-label {}
            }
          }

          .social-ranking-badge-wrapper {
            .social-ranking-badge {
              svg {
                g {
                  path {}
                }

                defs {
                  linearGradient {
                    stop {}
                  }

                  clipPath {
                    rect {}
                  }
                }
              }
            }

            .social-ranking-label {
              span {}
            }
          }

          .swiper-wrapper {}

          .swiper-pagination {}
        }
      }
    }
  }

  /* END :: Hero Section 
********************************** */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* START :: Repair Section */
  .services-section {
    padding: 90px 0;

    .container {
      .services-container {
        .services-image {
          img {}
        }

        .services-content {
          .title-label {}

          .section-title {
            padding: 14px 10px;
          }

          .service-detail-wrapper {
            .services-detail {
              font-size: 16px;
              line-height: 22px;
            }
          }

          .cta-buttons {
            flex-direction: row;

            .cta-btn {
              &.blue {}

              &.black {}

              span {}

              .arrow-svg {
                svg {
                  path {}
                }
              }
            }
          }
        }
      }
    }
  }

  /* END :: Services Section 
********************************** */
}

@media(max-width:420px) {
  .digital-header-section {
    .container {
      .digital-header-container {
        .digital-header-logo {
          font-size: 30px;

          a {}
        }

        .header-navigation-wrapper {
          width: 100%;

          .header-navigation-list {
            .header-nav-item {
              a {}
            }
          }

          .header-cta-button-wrapper {
            .input-label {
              display: none;

              input {}

              svg {}
            }

            .cta-btn {
              span {
                font-size: 16px;
                line-height: 21px;
              }

              .arrow-svg {
                padding: 4px;

                svg {
                  width: 20px;
                  height: 20px;

                  path {}
                }
              }
            }
          }

          &.header-navigation-wrapper.show {}
        }

        .header-hamburger-menu {
          span {}
        }
      }
    }
  }

  /* START :: Hero Section 
  ****************************** */
  .digital-hero-section {
    .container {
      .digital-hero-container {
        padding: 30px 0 40px 0;

        .digital-hero-container-content {
          .service-status-label {
            .statu-label-icon {
              svg {}
            }

            span {}
          }

          .digital-hero-container-head {
            font-size: 33px;
            line-height: 38px;
          }

          .hero-container-desc {}

          .cta-buttons {
            padding: 25px 0 34px;
            gap: 10px;
          }

          .social-proof-wrapper {
            flex-direction: column-reverse;

            .social-users-images {
              img {}
            }

            .social-users-trust-stack {
              .users-counter {
                text-align: center;
              }

              .social-users-label {
                padding-top: 0;
              }
            }
          }

          .social-ranking-badge-wrapper {
            padding-top: 20px;
            gap: 0;

            .social-ranking-badge {
              svg {
                width: 80px;

                g {
                  path {}
                }

                defs {
                  linearGradient {
                    stop {}
                  }

                  clipPath {
                    rect {}
                  }
                }
              }
            }

            .social-ranking-label {
              span {}
            }
          }

          .swiper-wrapper {}

          .swiper-pagination {}
        }
      }
    }
  }

  /* END :: Hero Section 
********************************** */
  .partners-section {
    margin: 50px 0 70px;

    .container {
      .partners-container {
        .partner-container-head {}

        .partners-logos-containers {
          gap: 16px;

          .swiper {
            gap: 13px;

            .swiper-wrapper {
              gap: 13px;

              .swiper-slide {
                height: 42px;
                width: 85px;

                .logo-image {
                  width: 50px;

                  img {}
                }
              }
            }

            &:nth-child(2) {
              .partner-logo-list {
                .partner-logo-item {
                  height: 42px;
                  width: 85px;

                  .logo-image {
                    width: 50px;

                    img {}
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* END :: Partner Section 
********************************** */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* START :: Services Section  
  **********************************  */
  .services-section {
    padding: 50px 0;

    .container {
      .services-container {
        .services-image {
          img {}
        }

        .services-content {
          .title-label {}

          .section-title {}

          .service-detail-wrapper {
            .services-detail {
              font-size: 14px;
              line-height: 18px;
            }
          }

          .cta-buttons {
            flex-direction: column;

            .cta-btn {
              &.blue {}

              &.black {}

              span {}

              .arrow-svg {
                svg {
                  path {}
                }
              }
            }
          }
        }
      }
    }
  }

  /* START :: Services Section  
  **********************************  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* ###########################  */
  /* START :: Trust Section 
********************************** */
  .trust-section {
    .container {
      .trust-container {
        padding: 20px 10px;

        .title-label {}

        .section-title {}

        .section-desc {}

        .company-trust-cards-wrapper {
          .trust-card {
            .trust-card-content {
              h4 {
                font-size: 20px;
              }

              .trust-card-desc {
                font-size: 16px;
              }

              .cta-btn {
                margin: 0 auto;

                &.blue {}

                span {}

                .arrow-svg {
                  svg {
                    path {}
                  }
                }
              }
            }

            .trust-card-image {
              img {}
            }
          }
        }
      }
    }
  }

  /* END :: Trust Section 
********************************** */
}