.digital-header-section {
    padding: 13px 0 22px;

    .container {
        .digital-header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .digital-header-logo {
                font-size: 44px;
                line-height: 54px;

                a {
                    color: var(--black);
                    font-family: var(--ff-satoshi);
                    text-decoration: none;
                }
            }
        }

        .header-navigation-wrapper {
            justify-content: space-between;
            display: flex;
            width: 100%;
            align-items: center;

            .header-navigation-list {
                display: flex;
                width: 100%;
                justify-content: center;

                .header-nav-item {
                    a {
                        font-family: var(--ff-satoshi);
                        color: var(--black);
                        font-size: 18px;
                        line-height: 26px;
                        padding: 12px;
                        border-radius: 14px;
                        transition: all .3s ease;
                        max-width: max-content;

                        &:hover {
                            color: var(--white);
                            background-color: var(--blue);
                        }

                        &:hover {
                            /* color: var(--white); */
                            /* color: var(--blue); */
                            /* background-color: var(--blue); */
                        }
                    }
                }
            }

            .header-cta-button-wrapper {
                display: flex;
                align-items: center;
                gap: 28px;
                justify-content: center;

                .input-label {
                    input {
                        display: none;
                    }

                    svg {
                        display: flex;
                    }
                }
            }
        }

        .header-hamburger-menu {
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            position: relative;
            z-index: 100;
            display: none;

            .bar {
                width: 100%;
                height: 3px;
                background-color: #000000;
                border-radius: 2px;
                transition: all 0.3s ease-in-out;
            }
        }

        /* Active State: Transforms into a Cross */
        .header-hamburger-menu.active .bar1 {
            transform: translateY(8.5px) rotate(45deg);
            /* Move down and rotate */
        }

        .header-hamburger-menu.active .bar2 {
            opacity: 0;
            /* Hide the middle bar */
        }

        .header-hamburger-menu.active .bar3 {
            transform: translateY(-8.5px) rotate(-45deg);
            /* Move up and rotate */
        }
    }
}

/* END :: Header Section 
*********************************** */
/* #########################  */
/* #########################  */
/* #########################  */
/* #########################  */
/* #########################  */
/* START :: Hero Section 
************************************** */
.digital-hero-section {
    .container {
        .digital-hero-container {
            border-radius: 40px;
            background-image: url(../media/digital-hero-bg-image.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            .digital-hero-container-content {
                .service-status-label {
                    display: flex;
                    gap: 9px;
                    align-items: center;
                    padding: 4px;
                    border: 1px solid #E2E2E2;
                    max-width: max-content;
                    border-radius: 50px;

                    .statu-label-icon {
                        padding: 6px;
                        border-radius: 50%;
                        display: grid;
                        place-items: center;
                        background-color: var(--blue);
                        max-width: max-content;

                        svg {}
                    }

                    span {
                        font-size: 18px;
                        line-height: 24px;
                        color: var(--black);
                        font-family: var(--ff-satoshi);
                        padding-right: 13px;
                    }
                }

                .digital-hero-container-head {
                    font-size: 70px;
                    line-height: 76px;
                    color: var(--black);
                    font-family: var(--ff-clash);
                    font-weight: 500;
                    max-width: 680px;
                    padding: 30px 0 17px;
                }

                .hero-container-desc {
                    font-size: 26px;
                    line-height: 40px;
                    font-family: var(--ff-satoshi);
                    color: var(--black);
                    max-width: 540px;
                    word-spacing: 3px;
                }

                .cta-buttons {
                    display: flex;
                    gap: 14px;
                    padding: 36px 0 46px;

                    .cta-btn {
                        &.black {
                            background-color: black;

                            &:hover {
                                background-color: white;

                                span {
                                    color: var(--black);
                                }

                                .arrow-svg {
                                    background-color: black;

                                    svg {
                                        path {
                                            fill: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .social-proof-wrapper {
                    display: flex;
                    gap: 96px;
                    align-items: center;

                    .social-users-images {
                        width: 55px;
                        height: 55px;
                        display: flex;

                        img {
                            border-radius: 50%;
                            border: 2px solid var(--white);

                            &:nth-child(1) {
                                background-color: var(--blue);
                            }

                            &:nth-child(2) {
                                background-color: var(--black);
                                margin-left: -13px;
                            }

                            &:nth-child(3) {
                                background-color: var(--blue);
                                margin-left: -13px;
                            }
                        }
                    }

                    .social-users-trust-stack {
                        .users-counter {
                            font-size: 24px;
                            line-height: 30px;
                            font-weight: 700;
                            font-family: var(--ff-satoshi);
                        }

                        .social-users-label {
                            font-size: 16px;
                            line-height: 21px;
                            font-weight: 500;
                            color: var(--black);
                            font-family: var(--ff-satoshi);
                            padding-top: 6px;
                        }
                    }
                }

                .social-ranking-badge-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding: 41px 0 46px;

                    .social-ranking-label {
                        font-size: 18px;
                        line-height: 24px;
                        font-family: var(--ff-satoshi);
                        font-weight: 400;

                        span {
                            font-weight: 700;
                        }
                    }
                }

                .swiper-wrapper {}

                .swiper-pagination {}
            }
        }
    }
}

/* .digital-hero-section {
    .container {
        .digital-hero-container {
            border-radius: 40px;
            background-image: url(../media/digital-hero-bg-image.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 80px 0 92px 94px;
            position: relative;
            z-index: 1;

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                inset: 0;
                background: linear-gradient(92.89deg, rgba(15, 99, 220, 0.9) 30.51%, rgba(15, 99, 220, 0) 71.52%);
                z-index: -1;
                border-radius: inherit;
            }

            .digital-hero-container-content {
                max-width: 680px;

                .service-status-label {
                    display: flex;
                    gap: 9px;
                    align-items: center;
                    padding: 4px;
                    border: 1px solid #E2E2E2;
                    max-width: max-content;
                    border-radius: 50px;
                    background-color: white;

                    .statu-label-icon {
                        padding: 6px;
                        border-radius: 50%;
                        display: grid;
                        place-items: center;
                        background-color: var(--blue);
                        max-width: max-content;

                        svg {}
                    }

                    span {
                        font-size: 18px;
                        line-height: 24px;
                        color: var(--black);
                        font-family: var(--ff-satoshi);
                        padding-right: 13px;
                    }
                }

                .digital-hero-container-head {
                    font-size: 70px;
                    line-height: 76px;
                    color: var(--white);
                    font-family: var(--ff-clash);
                    font-weight: 500;
                    padding: 30px 0 17px;
                }

                .hero-container-desc {
                    font-size: 26px;
                    line-height: 40px;
                    font-family: var(--ff-satoshi);
                    color: var(--white);
                    max-width: 540px;
                    word-spacing: 3px;
                }

                .cta-buttons {
                    padding: 36px 46px;
                }

                .social-proof-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 11px;

                    .social-users-images {
                        display: flex;
                        align-items: center;

                        .user-image {
                            img {
                                width: 55px;
                                height: 55px;
                                border-radius: 50%;
                                border: 2px solid var(--white);
                                display: flex;
                            }
                        }

                        & :nth-child(1).user-image {
                            img {
                                border-radius: 50%;
                                border: 2px solid var(--white);
                                background-color: var(--blue);
                            }
                        }

                        & :nth-child(2).user-image {
                            img {
                                border-radius: 50%;
                                border: 2px solid var(--white);
                                background-color: var(--black);
                                margin-left: -13px;
                            }
                        }

                        & :nth-child(3).user-image {
                            img {
                                border-radius: 50%;
                                border: 2px solid var(--white);
                                background-color: var(--blue);
                                margin-left: -13px;
                            }
                        }
                    }

                    .social-users-trust-stack {
                        .users-counter {
                            font-size: 24px;
                            line-height: 30px;
                            font-weight: 700;
                            font-family: var(--ff-satoshi);
                            color: var(--white);
                        }

                        .social-users-label {
                            font-size: 16px;
                            line-height: 21px;
                            font-weight: 500;
                            color: var(--white);
                            font-family: var(--ff-satoshi);
                            padding-top: 6px;
                        }
                    }
                }

                .social-ranking-badge-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding-top: 41px;

                    .social-ranking-label {
                        font-size: 18px;
                        line-height: 24px;
                        font-family: var(--ff-satoshi);
                        font-weight: 400;
                        color: var(--white);

                        span {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
} */
/* END :: Hero Section 
************************************** */
/* ############################### */
/* ############################### */
/* ############################### */
/* ############################### */
/* START :: Partner Section 
************************************** */
.partners-section {
    margin: 118px 0 140px;

    .container {
        .partners-container {
            .section-title {
                padding: 22px 0 36px;
            }

            .partners-logos-containers {
                display: flex;
                flex-direction: column;
                gap: 18px;

                .partner-logo-container.swiper {
                    width: 100%;

                    /* Smooth continuous transition */
                    .swiper-wrapper {
                        transition-timing-function: linear !important;

                        .logo-item.swiper-slide {
                            width: 220px;
                            height: 110px;
                            background-color: #4C4C4C0D;
                            display: grid;
                            place-items: center;
                            border-radius: 13px;

                            .logo-image {
                                width: 132px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* END :: Partner Section 
************************************** */
/* #############################  */
/* #############################  */
/* #############################  */
/* #############################  */
/* START :: Repair Section 
************************************** */
.repair-section {
    .container {
        .repair-container {
            padding: 55px;
            background-color: black;
            border-radius: 40px;

            .title-label {
                color: var(--white);
                border-color: var(--white);

                &::before {
                    background: white;
                }
            }

            .section-title {
                padding: 22px 0 12px;
                color: var(--white);
            }

            .section-desc {
                padding-bottom: 50px;
                color: var(--white);
            }

            .repair-cards-container {
                /* display: grid;
                grid-template-columns: repeat(3, 1fr); */
                gap: 22px;
                width: 100%;
            }
        }

        .repair-card {
            aspect-ratio: 400/470;
            background: var(--white);
            border-radius: 22px;
            padding: 17px 15px 23px 15px;
            border-radius: 22px;

            .card-image-wrapper {
                position: relative;
                padding: 13px;
                bottom: 0;
                aspect-ratio: 360/255;

                /* width: 360px; */
                .repair-card-header {
                    position: absolute;
                    display: flex;
                    top: 13px;
                    right: 21px;
                    left: 13px;
                    justify-content: space-between;
                    z-index: 1;

                    .card-label {
                        font-size: 10px;
                        line-height: 12px;
                        color: var(--black);
                        padding: 4px 8px;
                        background-color: #FFC633;
                        border-radius: 92px;
                        font-family: var(--ff-satoshi);
                    }
                }

                .repair-card-image {
                    position: absolute;
                    inset: 0;
                    top: 0;
                    left: 0;
                    bottom: 0;

                    img {}
                }

                >svg {
                    width: 100%;
                    margin: 0 auto;
                }
            }

            .card-title {
                font-size: 32px;
                line-height: 42px;
                font-weight: 500;
                color: #0A1519;
                font-family: var(--ff-clash);
                padding: 32px 0 18px;
                margin: 0 auto;
                text-align: center;
            }

            .cta-btn {
                margin: 0 auto;

                span {
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 500;
                }

                .arrow-svg {
                    padding: 8px;

                    svg {
                        width: 13px;
                        height: 14px;
                    }
                }
            }
        }
    }
}

/* END :: Repair Section 
************************************** */
/* ##########################  */
/* ##########################  */
/* ##########################  */
/* ##########################  */
/* ##########################  */
/* START :: Services Section 
************************************** */
.services-section {
    padding: 90px 0;

    .container {
        .services-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            .services-image {
                max-width: 600px;
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .services-content {
                display: flex;
                flex-direction: column;
                max-width: 600px;
                justify-content: center;

                .title-label {
                    margin: 0;
                }

                .section-title {
                    text-align: start;
                    padding: 22px 0 13px;
                }

                .service-detail-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 14px;

                    .services-detail {
                        font-size: 1.4vw;
                        font-weight: 400;
                        line-height: 2.2vw;
                        color: var(--black);
                        font-family: var(--ff-satoshi);
                    }
                }

                .cta-buttons {
                    padding-top: 38px;

                    .cta-btn {
                        &.blue {}

                        &.black {}

                        span {}

                        .arrow-svg {
                            svg {
                                path {}
                            }
                        }
                    }
                }
            }
        }
    }
}

/* END :: Services Section 
************************************** */
/* ##########################  */
/* ##########################  */
/* ##########################  */
/* ##########################  */
/* ##########################  */
/* START :: Trust Section 
************************************** */
.trust-section {
    .container {
        .trust-container {
            background-color: #F3F7FD;
            border-radius: 40px;
            padding: 66px 56px;

            .title-label {}

            .section-title {
                max-width: 700px;
                padding: 22px 0 14px;
                margin: 0 auto;
            }

            .section-desc {
                padding-bottom: 40px;
                max-width: 650px;
            }

            .company-trust-cards-wrapper {
                width: 100%;
                gap: 18px;
                display: flex;

                .trust-card {
                    width: 50%;
                    background-color: var(--white);
                    border-radius: 22px;

                    .trust-card-content {
                        padding: 17px 18px 0 23px;

                        h4 {
                            font-size: 35px;
                            line-height: 44px;
                            font-weight: 500;
                            font-family: var(--ff-clash);
                        }

                        .trust-card-desc {
                            font-size: 18px;
                            font-weight: 400;
                            font-family: var(--ff-satoshi);
                            line-height: 27px;
                            padding: 8px 0 20px;
                        }

                        .cta-btn {
                            max-width: 164px;
                            width: 100%;

                            &.blue {}

                            span {
                                font-size: 15px;
                                line-height: 20px;
                            }

                            .arrow-svg {
                                padding: 3px 8px;

                                svg {
                                    width: 15px;
                                    aspect-ratio: 1;

                                    path {}
                                }
                            }
                        }
                    }

                    .trust-card-image {
                        padding-top: 32px;

                        img {
                            border-radius: 22px;
                            aspect-ratio: 603/343;
                        }
                    }
                }
            }
        }
    }
}

/* END :: Trust Section 
************************************** */
/* ##########################  */
/* ##########################  */
/* ##########################  */
/* ##########################  */
/* ##########################  */
/* START :: Testimonial Section 
************************************** */
.testimonial-section {
    padding: 90px 0;

    .container {
        .testimonial-container {
            .testimonial-header-banner {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 50px;

                .header-banner-title-wrapper {
                    .title-label {
                        margin: 0;
                    }

                    .section-title {
                        text-align: start;
                        max-width: 500px;
                        line-height: 55px;
                        padding-top: 21px;
                    }
                }

                .testimonial-header-desc {
                    font-size: 20px;
                    line-height: 30px;
                    font-family: var(--ff-satoshi);
                    max-width: 493px;
                }
            }

            .testimnial-cards-main-container.swiper {
                width: 100%;
                height: 100%;

                .testimonial-cards-container.swiper-wrapper {
                    gap: 18px;
                    align-items: center;

                    .testimonial-user-card.swiper-slide {
                        font-size: 18px;
                        background: #F3F7FD;
                    }

                    .testimonial-user-card {
                        background-color: #F3F7FD;
                        border-radius: 22px;
                        padding: 28px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .quote-icon {
                            padding: 22px;
                            border-radius: 50%;
                            background-color: var(--blue);
                            max-width: max-content;

                            svg {
                                width: 38px;
                                height: 31px;

                                path {}
                            }
                        }

                        .user-comment {
                            font-size: 24px;
                            font-family: var(--ff-satoshi);
                            line-height: 34px;
                            font-weight: 500;
                        }

                        .testimonial-ranking-badge {
                            svg {
                                path {}
                            }
                        }

                        .testi-profile-wrapper {
                            display: flex;
                            gap: 16px;
                            align-items: center;

                            .profile-avatar {
                                width: 77px;
                                aspect-ratio: 1;

                                img {
                                    border-radius: 22px;
                                }
                            }

                            .profile-info {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;

                                .profile-name {
                                    font-size: 20px;
                                    line-height: 24px;
                                    font-weight: 500;
                                    font-family: var(--ff-clash);
                                    text-align: start;
                                }

                                .user-designation {
                                    font-size: 16px;
                                    line-height: 20px;
                                    color: #6A6A6A;
                                    font-family: var(--ff-satoshi);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* END :: Testimonial Section 
************************************** */
/* ##########################  */
/* ##########################  */
/* ##########################  */
/* ##########################  */
/* ##########################  */
/* START :: Contact Section
************************************** */
.contact-section {
    .container {
        .contact-container {
            background-color: var(--blue);
            display: flex;
            gap: 55px;
            overflow: hidden;
            border-radius: 40px;
            padding-right: 95px;

            .contact-image {
                max-width: 770px;

                img {
                    display: flex;
                    object-fit: cover;
                    border-radius: 40px;
                }
            }

            .contact-container-content {
                padding: 70px 0;
                position: relative;

                .title-label {
                    background-color: white;
                    text-align: start;
                    margin: 0;
                }

                .section-title {
                    padding: 22px 0 14px;
                    text-align: start;
                    color: var(--white);
                    font-weight: 400;
                }

                .contact-desc {
                    font-size: 20px;
                    line-height: 30px;
                    color: var(--white);
                    font-family: var(--ff-satoshi);
                    padding-bottom: 34px;
                }

                .cta-btn.white {
                    span {}

                    .arrow-svg {
                        svg {
                            path {}
                        }
                    }
                }
            }
        }
    }
}